body {
    margin: 0;
    padding: 0;
    font-family: 'Lato' , sans-serif;
    background-color: #efeae1;
}

header {
    background-color: maroon;
    height: 100px;
}

.container {
    padding: 50px;
}

h1 {
    font-weight: 700;
}

p {
    color: #2B2B2B;
    font-weight: 700;
}

li:hover a {
    color: maroon; 
    transition: 0.3s ease;
}

li {
    width: 40%;
    list-style-type: none;
    margin: 6px;
    padding: 15px;
    background-color: maroon;
    cursor: pointer;
}

li:hover {
    background-color: #C9A24D;
    transition: 0.2s ease;
}


a {
    display: block;
    text-decoration: none;
    color: white;
}

img {
    padding: 10px;
    width: 65px;
}

#logo {
    display: inline;
}


footer {
    
    background-color: #2B2B2B;
    height: 100px;
    width: 100%;
}
