body {
    font-family: 'Montserrat' , sans-serif;
}

main {
    max-width: 1000px;
    min-width: 430px;
    width: 65%;
    margin-inline: auto;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0fff8;
}

table td {
    padding: 10px;
    display: table-cell;
    border: 1px solid #80ced6;
}

p {
    padding: 30px;
    border: 1px solid #80ced6;
    border-radius: 10px;
    background-color: #f0fff8;
}

ul {
    padding: 30px;
    border: 1px solid #80ced6;
    border-radius: 10px;
    background-color: #f0fff8;
}