.container {
    width: 90%;
    margin-inline: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    display: grid;
    gap: 5px;    
    border: 1px solid;
    padding: 10px;
    background-color: rgb(46, 60, 74);
    display: grid;
    grid-template-columns: 1fr 0.6fr 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 120px 120px;
}

body {
    background-color: rgb(248, 202, 223);
}

.item {
    text-align: center;
    padding: 10px;
    background-color: rgb(205, 19, 87);
}

.item:nth-child(2) {
    background-color: rgba(217, 24, 137, 0.875);
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

.item:nth-child(3) {
    grid-column: 4 / span 2;
    grid-row: 1 / span 4;
    background-color: rgb(239, 83, 83);
}

.item:nth-child(4) {
    background-color: rgb(232, 201, 0);
}

.item:nth-child(5) {
    background-color: rgb(18, 134, 18);
}

.item:nth-child(6) {
    background-color: rgb(0, 126, 126);
}

.item:nth-child(7) {
    background-color: rgb(102, 155, 49);
}

.item:nth-child(8) {
    background-color: rgb(21, 139, 21);
}

.item:nth-child(9) {
    background-color: rgb(24, 185, 185);
}

.item:nth-child(10) {
    background-color: rgb(101, 212, 101);
}

.item:nth-child(11) {
    grid-column: 1 / span 3;
    background-color: rgb(106, 55, 153);
}

.item:nth-child(12) {
    background-color: rgb(220, 21, 21);
}