* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans' , sans-serif;
    background-color: whitesmoke;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px auto;
}

.card {
    background-color: white;
    padding: 30px;
    width: 350px;
}

.icon {
    display: flex;
    justify-content: center;
}


.name {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-family: "Poppins", Arial, sans-serif;
}

.info-cards {
    margin-top: 20px;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: gray;
}