* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.flex-container {
    display: flex;
    margin: 18px auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 730px;
    min-width: 430px;
}

.card {
    width: 330px;
    height: 200px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
}

.serie {
    width: 50px;
    padding-top: 25px;
    margin-left: -5px;
}

.number {
    font-weight: 200;
    font-size: 25px;
    margin-top: -5px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: monospace;
}

.valid,
.date {
    font-family: 'Tahoma', sans-serif;
}

.valid {
    font-size: 9px;
}

.visa-logo {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    margin-top: -10px;
}

.flex-others {
    display: flex;
    justify-content: space-between;
}

.card:nth-child(1) {
    background-color: #8e44ad;
}

.card:nth-child(2) {
    background-color: #009432;
}

.card:nth-child(3) {
    background-color: #0652DD;
}

.card:nth-child(4) {
    background-color: #161617;
}