body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1120px;
    width: 70%;
    margin-inline: auto;
}


header {
    width: 100%;
    height: 50px;
    background-color: rgb(109, 214, 10);
}

h1 {
    font-size: 60px;
    font-weight: 800;
    color: #000000ce;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000000ce;
}

h3 {
    font-size: 30px;
    font-weight: 800;
    color: #000000ce;
}

h4 {
    font-size: 21px;
    font-weight: 700;
    color: #000000ce;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000ce;
}


a {
    color: #3dd60e;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #1ca3b4;
}









