* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.7;
}

section {
    max-width: 1320px;
    width: 100%;
    margin: 30px auto;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #ff5e15;
    text-transform: uppercase;
    font-size: 1.3rem;
}

h2 {
    font-weight: 300;
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

main {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    max-width: 560px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


p {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-desc {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ff5e15;
    font-weight: 300;
}
