.grid-container {
    width: 80%;
    margin-inline: auto;
    display: grid;
    max-width: 960px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 0.7fr 1fr 1fr;
    grid-template-rows: 130px 80px 80px 130px;
    background-color: rgb(41, 26, 26);
    padding: 10px;
}

.item {
    background-color: crimson;
}

.item:first-child {
    grid-row: 1 / span 2;
}

.item:nth-child(2) {
    grid-column: 2 / span 2;
    background-color: rgb(17, 182, 182);
}

.item:nth-child(3) {
    background-color: rgb(210, 176, 88);
    grid-column: 4 / span 2;
}

.item.item:nth-child(4) {
    grid-row: 2 / span 2;
    background-color: rgb(210, 176, 88);
}

.item:nth-child(5) {
    background-color: white;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}

.item:nth-child(6) {
    grid-row: 2 / span 3;
}

.item:nth-child(7) {
    background-color: white;
    grid-row: 3 / span 2;
}

.item:nth-child(8) {
    grid-column: 2 / span 2;
}

.item.item:nth-child(9) {
    background-color: rgb(17, 182, 182);
}
